@model LojaVirtual.Models.Venda.Pedido

@{
    ViewData["Title"] = "Detalhe de pedido";
}

    <div class="text-center">
        <h4>Detalhe de pedido</h4>

        @if (Model != null)
        {
            <div class="row mt-4">
                <div class="col">
                    <h5>Produtos</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="table-responsive shadow" style="overflow-y: scroll; height: 200px;">
                        <table class="table table-hover">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col" width="300">Produto</th>
                                    <th scope="col" class="text-center" width="170">Quantidade</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            @foreach (var produto in Model.Produto)
                            {
                                <tr>
                                    <td><p class="text-muted small"><strong>@produto.Nome</strong></p></td>
                                    <td>@produto.Quantidade</td>
                                    <td>
                                        <div class="price-wrap">
                                            R$ <var class="price">@produto.Valor.ToString("C").Replace("R$", "")</var>
                                            <small class="text-muted"> /unidade </small>
                                        </div>
                                    </td>
                                    <td><button class="btn btn-sm btn-outline-primary"><i class="fa fa-info-circle"></i></button></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-center">
                    <h5>Situação atual</h5>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-8 text-center">
                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 1%;" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-2 text-left">
                    <div>Em espera</div>
                    <button class="btn btn-outline-success" style="border-color: white" disabled><i class="fa fa-lg fa-check-circle"></i></button>
                </div>
                <div class="col-2 text-center">
                    <div>Pagamento aprovado</div>
                    <button class="btn btn-outline-light" style="border-color: white" disabled><i class="fa fa-lg fa-check-circle"></i></button>
                </div>
                <div class="col-2 text-right">
                    <div>Enviado</div>
                    <button class="btn btn-outline-light" style="border-color: white" disabled><i class="fa fa-lg fa-check-circle"></i></button>
                </div>
                <div class="col-2 text-right">
                    <div>Entregue</div>
                    <button class="btn btn-outline-light" style="border-color: white" disabled><i class="fa fa-lg fa-check-circle"></i></button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-center">
                    <h5>Informações sobre o pedido</h5>
                </div>
            </div>
            <div class="row mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="row" width="200">Endereço de entrega</th>
                            <td scope="col" colspan="1" width="180">
                                <strong>CEP:</strong> <text class="cep">@Model.Endereco.Cep</text>
                            </td>
                            <td scope="col" colspan="2">
                                <text>@Model.Endereco.Logradouro, @Model.Endereco.Numero - @Model.Endereco.Bairro</text>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" width="100">Frete</th>
                            <td scope="col" colspan="1">
                                @{var servico = Model.Frete.Servico == '1' ? "Sedex" : "Pac";}
                                <strong>Serviço:</strong> <text>@servico</text>
                            </td>
                            <td scope="col" colspan="1" width="200">
                                <strong>Valor:</strong> <text>@Model.Frete.Valor.ToString("C")</text>
                            </td>
                            <td scope="col" colspan="1">
                                <strong>Prazo de entrega:</strong> <text>@Model.Frete.Prazo.ToShortDateString()</text>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" width="100">Pagamento</th>
                            <td scope="col" colspan="1" width="300">
                                @{var formaPagamento = Model.FormaPagamento == '1' ? "Cartão de crédito" : "Boleto";}
                                <strong>Método:</strong> <text>@formaPagamento</text>
                            </td>
                            @if (Model.FormaPagamento == '1')
                            {
                                <td scope="col" colspan="1" width="300">
                                    <strong>Número de parcelas:</strong> <text>@Model.Parcelamento.Parcelas de @Model.Parcelamento.ValorParcela.ToString("C")</text>
                                </td>
                                <td scope="col" colspan="1">
                                    <strong>Valor total:</strong> <text>@Model.Total.ToString("C")</text>
                                </td>
                            }
                            else
                            {
                                <td scope="col" colspan="1">
                                    <strong>Valor total:</strong> <text>@Model.Total.ToString("C")</text>
                                </td>
                                <td scope="col" colspan="1">
                                    <strong>Visualizar boleto:</strong> <a href="@Model.Boleto.Url" target="_blank">Aqui</a>
                                </td>
                            }

                        </tr>
                    </thead>
                </table>
            </div>
        }
        else
        {
            <div class="mt-5">
                <p>Pedido não encontrado.</p>
            </div>
        }
    </div>