@model LojaVirtual.Models.Venda.Pedido
@using LojaVirtual.Controllers

@{
    ViewData["Title"] = "Detalhe de pedido";
}

<div class="text-center">
    <h4>Detalhe de pedido</h4>

    @if (Model != null)
    {
        <div class="row mt-5">
            <div class="col-8">
                <div class="table-responsive" style="overflow-y: scroll; height: 289px; background-color: #fafafa;">
                    <table class="table table-hover">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col" width="300">Produto</th>
                                <th scope="col" class="text-center" width="170">Quantidade</th>
                                <th scope="col">Preço</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        @foreach (var produto in Model.Produto)
                        {
                            <tr>
                                <td><p class="text-muted small"><strong>@produto.Nome</strong></p></td>
                                <td>@produto.Quantidade</td>
                                <td>
                                    <div class="price-wrap">
                                        R$ <var class="price">@produto.Valor.ToString("C").Replace("R$", "")</var>
                                        <small class="text-muted"> /unidade </small>
                                    </div>
                                </td>
                                <td><button class="btn btn-sm btn-outline-primary"><i class="fa fa-info-circle"></i></button></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-header">
                        <h6>Informações</h6> 
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-left">
                                <h6>Endereço de entrega:</h6>
                                <p>@Model.Endereco.Cep | @Model.Endereco.Logradouro
                                @Model.Endereco.Numero, @Model.Endereco.Bairro - 
                                @Model.Endereco.Cidade</p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            @{var servico = Model.Frete.Servico == '1' ? "Sedex" : "Pac";}
                            <div class="col text-left">
                                <h6>Frete: </h6>
                                <p>
                                    @servico - @Model.Frete.Valor.ToString("C"),
                                    prazo de entrega: @Model.Frete.Prazo.ToShortDateString()
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            @{var formaPagamento = Model.FormaPagamento == '1' ? "Cartão de crédito" : "Boleto";}
                            <div class="col text-left">
                                <h6>Pagamento:</h6>
                                @if (Model.FormaPagamento == '1')
                                {
                                    <p>@formaPagamento: @Model.Parcelamento.Parcelas x de @Model.Parcelamento.ValorParcela.ToString("C")</p>
                                    <p>Total: @Model.Total.ToString("C")</p>
                                }
                                else
                                {
                                    <p><a href="@Model.Boleto.Url" target="_blank">@formaPagamento:</a> @Model.Total.ToString("C")</p>
                                }
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-left">
                                <h6>Situação:</h6>
                                <p>@PedidoController.SituacaoPedido(Model.Situacao)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="mt-5">
            <p>Pedido não encontrado.</p>
        </div>
    }
</div>